<div class="footer">
  <div class="lang-change ion-color-secondary">
    <div class="flag flag-{{'general.lang_flag' | translate}}"></div>
    <ion-select [selectedText]="'general.lang_name' | translate" [okText]="'buttons.choose' | translate"
                [cancelText]="'buttons.cancel' | translate" (ionChange)="changeLang($event)">
      <ion-select-option [value]="lang.key" *ngFor="let lang of langs">{{lang.name}}</ion-select-option>
    </ion-select>
  </div>
  <ion-button color="primary" class="circle-button home" [routerLink]="'/'">
    <ion-icon name="home-outline"></ion-icon>
  </ion-button>
  <div class="side-buttons">
    <ion-button color="secondary" class="circle-button" (click)="notify.presentToast('top', 'Garson çağırıldı.')">
      <div class="button-content">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label translate>buttons.waiter</ion-label>
      </div>
    </ion-button>
    <ion-button color="secondary" class="circle-button" (click)="notify.presentToast('top', 'Hesap getiriliyor.')">
      <div class="button-content">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label translate>buttons.check</ion-label>
      </div>
    </ion-button>
  </div>
</div>
