
#header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  color: #fff;
  height: 60px;

  &.multiple {
    justify-content: space-between;
  }

  .logo {
    width: 96px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ion-icon {
    color: #fff;
  }

  ion-back-button {
    color: #fff;
  }

  .badge {
    color: var(--primary);
    background: #fff;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 10px;
    position: absolute;
    top: 2px;
    right: -12px;
  }
}
