<app-header></app-header>

<ion-content>

  <ul class="categories">
    <li *ngFor="let item of categories" (click)="changeCategory(item)" [class.active]="activeCategory === item">
      <a class="category">{{'food.' + item | translate}}</a>
    </li>
  </ul>

  <div class="products">
    <div class="products-block" *ngFor="let menu of filteredProducts">
      <h5 class="card-title">{{'food.' + menu.category | translate}}</h5>
      <div class="products-list">
        <div class="product" *ngFor="let item of menu.data" [class.active]="item.selected">
          <div class="image">
            <img src="../../../assets/img/products/{{item.image}}" alt="">
          </div>
          <div class="product-body">
            <div class="title">
              <h5>{{'food.' + item.name | translate}}</h5>
              <p>Lorem ipsum dolor sit amet sit amet sit</p>
            </div>
            <div class="price">
              <h4>{{item.price}} ₺</h4>
              <ion-button color="success" (click)="openModal(item)">
                <ion-label>Ekle</ion-label>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
        <ion-title>Add to cart</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <div class="modal-products">
          <div class="product">
            <div class="image">
              <img src="../../../assets/img/products/{{activeItem.image}}" alt="">
            </div>
            <div class="product-body">
              <div class="title">
                <h5>{{'food.' + activeItem.name | translate}}</h5>
                <p>Lorem ipsum dolor sit amet sit amet sit</p>
              </div>
              <div class="price">
                <app-count-input [item]="activeItem"></app-count-input>
                <h4>{{activeItem.price * activeItem.count}} ₺</h4>

              </div>
              <ion-button color="success" (click)="addToCart()">
                <ion-label>Ekle</ion-label>
              </ion-button>
            </div>
          </div>
        </div>
    </ion-content>
  </ng-template>
</ion-modal>

<app-footer></app-footer>
