/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

@import "./theme/flags.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import './assets/fonts/Poppins/stylesheet.css';

* {
  box-sizing: border-box;
  transition: all .25s;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: .8rem;
  font-weight: 400;
  background-color: var(--background-soft);
  color: var(--color);
  margin: 0;
  padding: 0;
}

blockquote,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  margin-bottom: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
  border-style: none;
  width: 100%;
}

a,
i {
  border: none;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
img:focus {
  outline: none;
  box-shadow: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.transparent-button {
  --background: transparent;
  --background-hover: transparent;
  --background-activated: rgba(255, 255, 255, .01);
  --background-focused: rgba(255, 255, 255, .01);
}


ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}


ion-toolbar {
  height: 60px;

  ion-button {
    --color: white !important;
  }

  ion-title {
    --color: white;
    height: 60px;
  }

  ion-buttons {
    height: 60px;
  }
}

.flag {
  transform: scale(1.3);
}
